.navbar-brand{
	font-family: "Ubuntu",sans-sarif;
	font-size: 2em;
	font-weight: bold;
	color: #fff;
}

/* plus button for adding New Users Botton Right */
.box{
	position: fixed;
	bottom: 10px;
	right: 20px;
	margin-bottom: 30px;
	
}